[defaults]
inventory=./inventory
role_path=./roles
host_key_checking=false

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
